* {
    margin: 0;
}
body{
    .all-pictures{
        display: flex;
    .one{
        border-radius: 50px;
            margin: 10px;
    }
    .two{
        border-radius: 50px;
            margin: 10px;
    }
    .three {border-radius: 50px;
        margin: 10px;}
    }
    .four {
        border-radius: 50px;
        margin: 10px;
    }
    .five {
        border-radius: 50px;
        margin: 10px;
    }
        
}