* {
    margin: 0;
}
body {
   
    .picture {
        width: 100%;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 10px;
        transition: all 1s ease-in;
    }

    .picture:hover {
        transform: scale(2);
    }

    .all-pictures{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container{
        box-sizing: border-box;
        margin-top: 250px;
      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "item1 item2"
                "item3 item4";
        gap: 20px;
        margin-bottom: 250px;
    .item{
        padding: 5px;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s;
    }
  
        .item:hover {
            transform: scale(1.1);
        }
    .text {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
    }

.grid-avengers{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
                "img1"
                "img2 img3 img4 img5"
                "img6 img7 img8 img9 img10";
    gap: 8px;

    .image{
        height: 400px;
        width: 300px;
        margin: 0;
    }
}
.deal{
    display: flex;
    background-color: #00FF00;
    box-sizing: border-box;
    margin: 200px 0;
    justify-content: center;
    padding: 10px 20px;
    .deals{
        display: flex;
        flex-direction: column;
        background-color: #008000;
        padding-bottom: 10px;
        border: #008000 transparent;
        border-radius: 15px;
        margin: 0 100px;
        width: 100%;
        padding: 20px;
    }
    .firstcontainer{
        margin-top: 20px;
    }
    .deals>.firstcontainer{
        flex-grow: 1;
    
    }
    .naming{
        display: flex;
justify-content: center;
        border-bottom: solid #00FF00 0.5px;
        padding: 8px 0;
        letter-spacing: 1.5;
    }
    .gold{
        font-size: 60px;
        font-weight: 700;
        color: 	#ffa500;
    }
    .diamond{
        font-size: 60px;
        font-weight: 700;
        color: 	#1e90ff; 
    }
    .subdeals{
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 1.4;
        color: #fff;
    }
    .justtext{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    margin-bottom: 30px;
 }
    img{
        display: flex;
    }
    .list{
        display: flex;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 15px;    }
}
.trading{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.trading-2{
    display: flex;
    flex-direction: row;
}
.lastround-gold{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastround-diamond{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.one-button{
    display: block;
    background-color: #ffa500;
    border: #ffa500 solid;
    border-radius: 8px;
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;   
    line-height: 24px; 
    
}
.two-button{
    display: block;
    background-color: #1e90ff;
    border: #1e90ff solid;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    line-height: 24px; 
max-width: 200px;}

.container-grid{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "redcolor yellowcolor yellowcolor"
    "redcolor bluecolor greencolor";
    margin-left: 500px; 
    margin-right: 500px; 
    text-align: center;


.red{
    grid-area: redcolor;
    background-color: red;
    border-bottom: black dotted 2px;
    border-right: black dotted 2px;
    padding: 20px;
    height: 100%;
}

.blue{
    grid-area: bluecolor;
    background-color: blue;
    border-bottom: black dotted 2px;
    border-right: black dotted 2px;
    padding: 20px;
    height: 100%;

}
.green{
    grid-area: greencolor;
    background-color: #008000;
    border-bottom: black dotted 2px;
    padding: 20px;
    height: 100%;
}

.yellow{
    grid-area: yellowcolor;
    background-color: yellow;
    border-right: black dotted 2px;
    padding: 20px;
    height: 100%;

}
}
.onemore{
    margin-top: 150px;
    display: flex;
padding-bottom: 50px;
row-gap: 20px;
max-width: 1200px;
flex-wrap: wrap;

.subdisflex{
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    justify-content: center;

}
.feather{
    display: flex;
justify-content: center;
    width: 40px;
    height: 40px;
margin-left: auto;
margin-right: auto;
    
.par-1{
color: darkblue;
font-weight: 600;
margin-bottom: 20px;
}
.par-2{
    color: rgb(37, 51, 12);
    font-weight: 500;
    margin-bottom: 40px;
    
}

}
}

.container-for-grid{ 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "orangecolor orangecolor orangecolor"
    "yellow-2 red-2 blue-2"
    "pinkcolor pinkcolor .";
    margin-top: 150px;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
    margin-left: 200px;
.orangecolor{
    grid-area: orangecolor;
    background-color: #ffa500;
    width: 100%;
    height: 100%;
}
.yellow-2{
    grid-area: yellow-2;
    background-color: yellow;
    width: 100%;
    height: 100%;
}
.red-2{
    grid-area: red-2;
    background-color: red;
    width: 100%;
    height: 100%;
}
.blue-2{
    grid-area: blue-2;
    background-color: blue;
    width: 100%;
    height: 100%;

}
.pinkcolor{
    grid-area: pinkcolor;
    background-color: pink;
    width: 100%;
    height: 100%;
}
}
.containergrid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pinkcolor1 red-3 red-3 viola"
    "pinkcolor1 browncolor yellow-3 viola"
    "pinkcolor1 browncolor yellow-3 ."
    "green-2 green-2 yellow-3 blue-3";
    margin-top: 150px;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 200px;

.pinkcolor1{
    grid-area: pinkcolor1;
    background-color: pink;
    width: 100%;
    height: 100%;
}
.red-3{
    grid-area: red-3;
    background-color: red;
    width: 100%;
    height: 100%;
}
.viola{
    grid-area: viola;
    background-color:violet;
    width: 100%;
    height: 100%;
}
.browncolor{
    grid-area: browncolor;
    background-color: brown;
    width: 100%;
    height: 100%;
}
.yellow-3 {
    grid-area: yellow-3;
    background-color: yellow;
    width: 100%;
    height: 100%;
}
.green-2{
    grid-area: green-2;
    background-color: green;
    width: 100%;
    height: 100%;
}
.blue-3{
    grid-area: blue-3;
    background-color: blue;
    width: 100%;
    height: 100%;
}
}

.periodic{
    margin: 0 300px 150px;
    background-color: lightgray;
    padding-bottom: 40px;
    
    .title{
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        color: #fff;
    }
    .subtext{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
    }
    
    .gridnessgrid 
    {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-areas: 
    "li fb . . . . db ct sl"
    "wk sp tw tc gt yn ii te wu"
    "cv dg tg gg ex so cp cd tr"
    ". in mu me no re rd st ad";
    gap: 5px;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .box{
        width: 50px;
    }

    .element{
        display: flex;
        justify-content: left;
        padding-left: 8px;
        padding-top: 10px;
    }

    .li{
        grid-area: li;
        width: 100%;
        height: 100%;
        color: greenyellow;
        border: 2px solid;
        border-color: greenyellow;
    }

    .fb{
        grid-area: fb;
        width: 100%;
        height: 100%;
        color: greenyellow;
        border: 2px solid;
        border-color: greenyellow;
    }

    .db{
        grid-area: db;
        width: 100%;
        height: 100%;
        color: blue;
        border: 2px solid;
        border-color: blue;
    }
    .ct{
        grid-area: ct;
        width: 100%;
        height: 100%;
        color: lightgreen;
        border: 2px solid;
        border-color: lightgreen;
    }

    .sl{
        grid-area: sl;
        width: 100%;
        height: 100%;
        color: lightgreen;
        border: 2px solid;
        border-color: lightgreen;
    }
    .wk{
        grid-area: wk;
        width: 100%;
        height: 100%;
        color: lightcoral;
        border: 2px solid;
        border-color: lightcoral;
    }
    .sp{
        grid-area: sp;
        width: 100%;
        height: 100%;
        color: lightcoral;
        border: 2px solid;
        border-color: lightcoral;
    }
    .tw {
        grid-area: tw;
        width: 100%;
        height: 100%;
        color: yellow;
        border: 2px solid;
        border-color: yellow;
    }

    .tc {
        grid-area: tc;
        width: 100%;
        height: 100%;
        height: 100%;
        color: yellow;
        border: 2px solid;
        border-color: yellow;
    }
    .gt {
        grid-area:gt;
        width: 100%;
        height: 100%;
        color: yellowgreen;
        border: 2px solid;
        border-color: yellowgreen;
    }
    .yn {
        grid-area: yn;
        width: 100%;
        height: 100%;
        color: yellowgreen;
        border: 2px solid;
        border-color: yellowgreen;
    }
    .ii {
        grid-area: ii;
        width: 100%;
        height: 100%;
        color: blue;
        border: 2px solid;
        border-color: blue;
    }
    .te {
        grid-area: te;
        width: 100%;
        height: 100%;
        color: blue;
        border: 2px solid;
        border-color: blue;
    }
    .wu {
        grid-area: wu;
        width: 100%;
        height: 100%;
        color: lightblue;
        border: 2px solid;
        border-color: lightblue;
    }
    .cv {
            grid-area: cv;
            width: 100%;
            height: 100%;
            color: lightcoral;
            border: 2px solid;
            border-color: lightcoral;

        }
    .dg {
            grid-area: dg;
            width: 100%;
            height: 100%;
            color: lightcoral;
            border: 2px solid;
            border-color: lightcoral;
        }
    .tg {
            grid-area: tg;
            width: 100%;
            height: 100%;
            color: lightcoral;
            border: 2px solid;
            border-color: lightcoral;
        }
    .gg {
            grid-area: gg;
            width: 100%;
            height: 100%;
            color: blue;
            border: 2px solid;
            border-color: blue;
        }
    .ex {
            grid-area: ex;
            width: 100%;
            height: 100%;
            color: blue;
            border: 2px solid;
            border-color: blue;
        }
    .so {
            grid-area: so;
            width: 100%;
            height: 100%;
            color: yellowgreen;
            border: 2px solid;
            border-color: yellowgreen;
        }
    .cp {
            grid-area: cp;
            width: 100%;
            height: 100%;
            color: yellowgreen;
            border: 2px solid;
            border-color: yellowgreen;
        }
    .cd {
            grid-area: cd;
            width: 100%;
            height: 100%;
            color: blue;
            border: 2px solid;
            border-color: blue;
        }
    .tr{
            grid-area: tr;
            width: 100%;
            height: 100%;
            color: blue;
            border: 2px solid;
            border-color: blue;
        }
    .in {
        grid-area: in;
        width: 100%;
        height: 100%;
        color: yellow;
        border: 2px solid;
        border-color: yellow;
    }
    .mu {
        grid-area: mu;
        width: 100%;
        height: 100%;
        color: lightcoral;
        border: 2px solid;
        border-color: lightcoral;
    }
    .me {
        grid-area: me;
        width: 100%;
        height: 100%;
        color: lightcoral;
        border: 2px solid;
        border-color: lightcoral;
    }
    .no {
        grid-area: no;
        width: 100%;
        height: 100%;
        color: #00FF00;
        border: 2px solid;
        border-color: #00FF00;
    }
    .re {
        grid-area: re;
        width: 100%;
        height: 100%;
        color: yellow;
        border: 2px solid;
        border-color: yellow;
    }
    .rd {
        grid-area: rd;
        width: 100%;
        height: 100%;
        color: yellowgreen;
        border: 2px solid;
        border-color: yellowgreen;
    }
    .st {
        grid-area: st;
        width: 100%;
        height: 100%;
        color: yellowgreen;
        border: 2px solid;
        border-color: yellowgreen;
    }
    .ad {
        grid-area: ad;
        width: 100%;
        height: 100%;
        color: yellowgreen;
        border: 2px solid;
        border-color: yellowgreen;
    }}
}}

.sentence{
    display: flex;
}
.sentence::before{
    content: "";
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url(./50-projects-images/quotation-mark1.png);

}
.sentence::after{
    content: "";
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url(./50-projects-images/quotation-mark2.png);
}
.hello{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}
.hello::before
{
    content: "<<";
    font-size: 10px;
}
.hello::after{
    content: ">>";
        font-size: 10px;
}
.mainparent{
    box-sizing: border-box;
    margin-top: 150px;
    background-color: darkcyan;
    .mainname{
        display: flex;
        justify-content: center;
        font-size: 60px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 20px;
    }
}
.parent{
   display: flex;
    
    .child{
        display: flex;
        background-color: #fff;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .child-1{
        border-bottom: 1px solid lightgrey;
        
    }
    .child-2{        
        border-bottom: 1px solid lightgrey;
       }
    .child-3{        
        border-bottom: 1px solid lightgrey;
        }
    .fonty{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
    }
    .combo{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .money{
        font-size: 50px;
        font-weight: 700;
    }
    .year{
        font-size: 25px;
        font-weight: 400;
        display: flex;
        align-items: baseline;
    }
    .money::before{
        content: "$";
        font-size: 50px;
    }
    .year::before{
        content: "/";
        font-size: 25px;
    }
    .button-1{
        display: block;
        justify-content: center;
        align-items: center;
        color: darkcyan;
        background-color: lightgrey;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 200px;
    }
    .button-2{
        display: block;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: blue; 
        margin-left: 20px;
        margin-right: 20px; 
        max-width: 200px;
    }
    .mainlist{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-bottom: 35px;
    }
    .listy{
        font-size: 40px;
        font-weight: 500;
    }
    .listy::before{
        content: "";
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-image: url(./50-projects-images/checkimage.png);
    }
    .parent:first-child()
    .parent:last-child()
    .parent:nth-child()
}
    