* {
    margin: 0;
}
ul,
div,
h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}
$sct-one-par: #000;
$btn-get-started: #F63;


.header{
    display: flex;
    flex-direction: row;
    height: 72px;
    padding: 0px 130px;
    align-items: center;
    background-color: #1A1A1A;
    padding-left: 130px;

    .divlogos{
        display: flex;
        align-items: center;
        gap: 19.477px;
        margin-right: 68.18px;
    }
    .headertitle{
        color: #FFF;
        text-align: center;
        font-family: Mont;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; 
        letter-spacing: 0.24px;
        margin-right: 75px;
        width: 576px;
    }

    .btndiv{
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .one-btn{
        color: #f2673a;
        border: 1px solid #f2673a;
        border-radius: 100px;
        text-align: center;
        font-family: Mont;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        letter-spacing: 0.18px;
        text-transform: uppercase;
        background: inherit;
        height: 40px;
    }
    
    .btnprg{
        color: #FFF;
        text-align: center;
        font-family: Mont;
        font-size: 10px;
        font-style: italic;
        font-weight: 800;
        line-height: 10px;
        margin-top: 6px;
    }
    }
    .sct-one{
        display: flex;
        flex-direction: row;
        column-gap: 32px;
        padding-left: 130px;
        .div-sctone-1{
            display: flex;
            flex-direction: column;
            margin: 80px 0px;
        }
        .cfd-fat{
            display: flex;
            flex-direction: column;
        }
        .cfd{
            color: #F63;
            font-family: Mont;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px;
        }
        .fat{
            color: #000;
            font-family: Mont;
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px;
            margin-bottom: 16px;
        }
        .sct-one-par{
            color: var(--sct-one-par);
            font-family: Mont;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 48px;
        }
        .btn-pars{
            display: flex;
            flex-direction: column;
        }
        .get-started{
            display: flex;
            width: 372px;
            height: 64px;
            padding: 20px 0px 18px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border-color: #f2673a;
            padding-top: 20px;
            padding-bottom: 18px;
            margin-bottom: 10px;
            color: #FFF;
            text-align: center;
            font-family: Mont;
            font-size: 22px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px; /* 109.091% */
            text-transform: uppercase;
            background: #f2673a;
        }
        .par-sub1{
            color: #000;
            text-align: center;
            font-family: Mont;
            font-size: 14px;
            font-style: italic;
            font-weight: 800;
            line-height: 14px;
            margin-bottom: 16px; 
            width: 372px;
        }
        .par-sub2{
            color: #F63;
            text-align: center;
            font-family: Mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            width: 372px;
        }
    }
    .div-sctone-2{
        display: flex;
        position: relative;
        padding: 34.7px 52.44px;
    }
    .threesteps{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        width: 1180px;
        margin-bottom: 64px;
    }
    .firstlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }